@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.borders {
  box-shadow: inset -1px 0px 0px #f5b102;
}

.input-modal div {
  width: 100%;
  display: flex;
  gap: 16px;
}
.input-modal input {
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid #eeeeee;

  width: 64px;
  height: 64px;
}
